/**
 * Kit-Catalogue Administration Stylesheet.
 *
 * @version 1.1.0
 */



#main .grid_row { margin-top: 1.8em; }



.admin_section { padding: 0.5em; background-color: #f6f6f6; border: 1px solid #ddd; border-radius: 10px; }

.admin_section h2 { margin-top: 0.5em; }

.admin_section + .admin_section { margin-top: 1.5em; }


.form_section { margin-left: 1.5em; }


div.report { margin: 0 2em 1em 2em; padding: 0em 1.5em 0.5em 1.5em; background-color: #f6f6f6; border: 1px solid #ddd; border-radius: 10px; }

div.report h2 { margin-left: -1em;}


