/**
 * Common Enhancements Stylesheet.
 *
 * @version 6.3.0
 */



/*
 * Note: Where appropriate, all sizes and dimensions should be declared in ems. 
 *
 * 16px = 1em      (default <body> font-size) 
 * 14px = 0.875em
 * 13px = 0.8125em
 * 12px = 0.75em
 * 11px = 0.6875em
 * 10px = 0.625em
 *  9px = 0.5625em
 *  8px = 0.5em
 */



/* --------------------------------------------------------------------------------
 * Common Enhancements
 */


.label { display: block; margin-top: 1.5em; font-style: italic; font-weight: bold; }
span.label { display: inline; }

.normal { font-weight: normal; font-style: normal; }
.title { margin-top: 1em; margin-bottom: 1em; font-weight: bold; }
.scrollable { overflow: auto; padding: 0.3em; border: 1px solid #999; }
.strike { text-decoration: line-through; }



div.boxed { padding: 0.7em; border: 1px solid #ddd; border-radius: 10px; }
div.boxed > p.title:first-child { margin-top: 0; margin-bottom: 1em; font-weight: bold; }



/* --------------------------------------------------------------------------------
 * Form Enhancements
 */



input[type="password"]:hover ,
input[type="radio"]:hover ,
input[type="text"]:hover ,
textarea:hover ,
select:hover { background-color: #efe; }

input[type="password"]:focus ,
input[type="radio"]:hover ,
input[type="text"]:focus ,
textarea:focus ,
select:focus { background-color: #efe; }


td > label { font-weight: normal; }



/* --------------------------------------------------------------------------------
 * Tables
 */



/* Simple row-bordered table */

table.simple { margin: 0.7em auto 0.5em auto; background-color: #fff; border: 1px solid #bbb; }

table.simple th { margin: 0; padding: 0.7em; background-color: #ccc; border-bottom: 1px solid #ccc; font-size: 0.9em; font-weight: bold; text-align: center; }
table.simple td { margin: 0; padding: 5px; background-color: #eee; border-bottom: 1px solid #ccc; }
table.simple tr:last-child td { border-bottom: 0; }



/* Grid table */

table.grid { margin: 0.7em auto 0.5em auto; border: 1px solid #bbb; }

table.grid th { margin: 0; padding: 0.7em; background-color: #ccc; border: 1px solid #bbb; font-size: 0.9em; font-weight: bold; text-align: center; }
table.grid td { margin: 0; padding: 5px; border: 1px solid #ccc; font-size: 0.9em; }



/* Form-Component Tables */


table.checkbox_grid { }
table.checkbox_grid > tbody > tr > th { line-height: 1.6em; text-align: left; vertical-align: top;  }
table.checkbox_grid > tbody > tr > th > label { margin: 0; padding: 0 2.5em 0 0.5em; font-weight: normal; vertical-align: top; white-space: nowrap; }
table.checkbox_grid > tbody > tr > td { width: 14px; padding: 2px; text-align: left; vertical-align: top; }


table.radio_grid { }
table.radio_grid th { padding: 0 2.5em 0 0.5em; line-height: 1.6em; text-align: left; vertical-align: top; white-space: nowrap; }
table.radio_grid td { width: 14px; padding: 2px; text-align: left; vertical-align: top; }
table.radio_grid th label { margin: 0; font-weight: normal; }


table.dmyt_grid th { padding: 0.2em 0.5em 0 0; }
table.dmyt_grid td { padding-right: 0.5em; }


/* Enhancements */


table.rowhover > tbody > tr:hover > th,
table.rowhover > tbody > tr:hover > td { background-color: #ffc !important; }

table.striped tr.odd > td { background-color: #eee; }
table.striped tr.even > td { background-color: transparent; }


td > img { display: inline !important; }


td.checkbox { text-align: center; }
td.money { text-align: right; }
td.name { padding-right: 2.5em !important; text-align: left; }
td.num { text-align: center; }
td.str { text-align: left; }
td.link > a { display: block; padding: 0 0.5em 0 0.5em; font-size: 0.875em; text-align: center; }

td.small { font-size: 0.875em !important; }

td.left { text-align: left; }
td.center { text-align: center; }
td.right { text-align: right; }



/* --------------------------------------------------------------------------------
 * Menu Styles
 */



ul.hozmenu { margin: 0; padding: 0; list-style-type: none; }
ul.hozmenu li { display: inline; margin: 0; padding: 0; }
ul.hozmenu li a { text-decoration: none; }






div.ecl_loading { padding: 0.5em; line-height: 1.3em; vertical-align: middle; }
.ecl_animated_icon { float: left; margin-right: 0.7em; }



/* --------------------------------------------------------------------------------
 * Grid Layout
 *
 * Grid layouts comprise 12 columns with an 18px gutter on either side.
 * A single column is 6% wide and has a right-padding of 2.54%.
 * On a 1024 screen, this roughly corresponds to 57px wide columns with 23px separation.
 */



.grid_container { clear: both; padding: 0 10px 0 10px; }

.grid_row { width: 100%; margin: 0 auto; overflow: hidden; }

.grid_1col, .grid_2col, .grid_3col, .grid_4col, .grid_5col, .grid_6col,
.grid_7col, .grid_8col, .grid_9col, .grid_10col, .grid_11col, .grid_12col {
	min-height: 1px;
	float: left;
	margin-right: 2.5%;
}

.grid_row .grid_1col  { width: 6%;    }
.grid_row .grid_2col  { width: 14.5%; }
.grid_row .grid_3col  { width: 23%;   }
.grid_row .grid_4col  { width: 31.5%; }
.grid_row .grid_5col  { width: 40%;   }
.grid_row .grid_6col  { width: 48.5%; }
.grid_row .grid_7col  { width: 57%;   }
.grid_row .grid_8col  { width: 65.5%; }
.grid_row .grid_9col  { width: 74%;   }
.grid_row .grid_10col { width: 82.5%; }
.grid_row .grid_11col { width: 91%;   }
.grid_row .grid_12col { width: 99.5%; }


/* Declare this separately to the next two classes, because IE8 chokes on it and stops parsing all of them */
.grid_row div:last-child { margin-right: 0; }

/* :last-child is CSS3 only, so always use include an explicit class="grid_lastcol" in the HTML too! */
.grid_last,
.grid_lastcol { margin-right: 0; }   


