/**
 * Kit-Catalogue Stylesheet.
 *
 * @version 1.1.0
 */



/* HTML Elements */


body { max-width: 1280px; margin: 0 4em 0.5em 4em; background: #566776 url("../images/system/kc_bkg.jpg") repeat-x;font-family: helvetica, sans-serif; }

em { color: #060; }

h1, h2, h3, h4, h5, h6 { color: #37564B; }
h2 { margin-top: 1.3em; font-weight: bold; }
h3 { font-size: 1em; font-weight: normal; }
h4 { font-size: 0.875em; font-weight: normal; }
h5 { font-size: 0.8125em; font-weight: normal; }
h6 { font-size: 0.75em; font-weight: normal; }

ol,
ul { margin-left: 2em; margin-right: 2em; }

ol li,
ul li { margin-top: 0.8em; line-height: 1.4em; }

a {	color: #5667A0; text-decoration: none; }
a:link { color: #5667A0; }
a:visited {color: #5667A0; }
a:hover { text-decoration: underline;color:#5667A0; }
a:active { color: #5667A0; }



/* Header */


#header {
	min-height: 80px;
	padding: 0.8em 0;
	background-color:#FFF;
	border-top: 5px solid #466900; 
}



#header div.kclogo { float: left; margin: 0 1.5em 0 1em; padding: 0; }
#header div.kclogo img { margin: 0; padding: 0; }
#header div.institutionlogo { float: right; margin: 0 1em 0 1.5em; }


#userbar { clear: both; padding: 0.5em 1em 0.3em 2em; background: #f2f6f5 url("../images/system/contact_bkg.png") repeat-x; color: #000; font-size: 0.75em; }
#userbar .username { color:#000; font-size:0.9em; font-style:normal;}
#userbar a { margin-left: 1em; padding-left: 1em; border-left: 1px solid #999; color: #666; }
#userbar p.strapline { margin: 0; padding: 0 0 0.2em 0; color: #390; font-size: 0.8125em; }
#userbar span {color:#999;font-style:italic;}

#header_menu { clear: both; background: #f2f6f5 url("../images/system/menu_bkg.png") repeat-x; height: 1.4em; }
#header_menu ul { margin: 0; padding: 0; list-style-type: none; }
#header_menu ul li { float: left; margin: 0; padding: 0; }
#header_menu ul a { display: block; padding: 0 1em 0 1em; border-right: 1px solid #EFEFEF; border-left: 1px solid #666; color: #fff; font-size: 0.75em; font-weight: bold; text-decoration: none; }
#header_menu ul a:hover { background-image: url("../images/system/menu_bkg_hover.png"); }


#header_search { clear: both; padding: 0 0.7em 0.3em 0; border-bottom: 1px dotted #ccc; font-size: 0.8125em; text-align: right; }
#header_search label { display: inline; }


#breadcrumbs { clear: both; padding: 1em 0.3em 0 0.3em; background-color: #fff; font-size: 0.75em; }                
#breadcrumbs ul { margin: 0; padding: 0 0 0.5em 0; list-style-type: none; border-bottom:1px dotted #CCC;}
#breadcrumbs ul li { display: inline; margin: 0 0 0 0.5em; padding: 0 0 0 1em; background: url("../images/system/breadcrumb_arrow.gif") no-repeat left center; color: #777; font-weight: bold; }
#breadcrumbs ul li:first-child {background:none;margin-left:0;}
#breadcrumbs ul li a { color: #72847D; font-weight: bold; }



/* Footer */


#footer {
	clear: both;
	margin: 0;
	padding: 0 0.4em 0.4em 0.4em; 
	
	background-color: #fff;

	border-bottom-left-radius: 30px;
	-moz-border-radius-bottomleft: 30px;
	-webkit-border-bottom-left-radius: 30px;

	border-bottom-right-radius: 30px; 
	-moz-border-radius-bottomright: 30px;
	-webkit-border-bottom-right-radius: 30px;
		
	color: #666;
	font-size: 1em;
}


#footer div.footermenu { padding: 0.5em 0; border-top: 1px dotted #ccc; border-bottom: 1px dotted #ccc; font-size: 0.8125em; }
#footer div.footermenu > div.grid_4col { text-align: center !important; }
div.footermenu a { padding-left: 15px; background: transparent url("../images/system/dotted_arrow.gif") no-repeat center left; color: #666; }
div.footermenu a.kitcatlink { padding: 2em 0 2em 30px; background-image: url("../images/system/kc_small.gif"); }

p.footer_note { margin-top: 1.5em; color:#888; font-size: 0.75em; text-align: center; }
p.footer_note a { color: #99f; }



/* Main Content */


#main { clear: both; margin: 0; padding: 0 2em 4em 2em; background-color: #fff; font-size: 0.875em; }

ul.mainmenu_ul {list-style:none;}

ul.mainmenu_ul li { line-height:0.9em;background: transparent url(../images/system/ul_arrow.gif) no-repeat 0 0.3em; padding-left: 1em; }

ul.category_list {list-style:none;margin-left:0;}

ul.category_list li {line-height:0.8em;padding-left: 1em;}
ul.category_list li.current {background: transparent url(../images/system/purp_sq.jpg) no-repeat 0 0; }

h2.cat_title {background-color:#8DA39B;color:#FFF;margin-right:2em;padding:0.4em;}
h2.listtitle{font-size:1.2em;}

/* Feedback Boxes */

/* Error & Info Boxes */

div.feedback,
div.feedback_error ,
div.feedback_info ,
div.feedback_question ,
div.feedback_success ,
div.feedback_warning {
	margin: 0 10em 1em 10em;
	padding: 0.5em 0.5em 0.5em 44px;

	border-radius: 0.875em;
	-moz-border-radius: 0.875em;
	-webkit-border-radius: 0.875em;
	
	color: #000;
	font-size: 0.8215em;
	line-height: 1.1em;
}


div.feedback_error {
	background: #fcc url(/images/web_application/gif_32x32/32x32_remove.gif) no-repeat 5px 5px;
	border: 1px solid #900;
}

div.feedback_info {
	background: #eee url(/images/web_application/gif_32x32/32x32_info.gif) no-repeat 5px 5px;
	border: 1px solid #ccc;
}

div.feedback_question {
	background: #eee url(/images/web_application/gif_32x32/32x32_question.gif) no-repeat 5px 5px;
	border: 1px solid #ccc;
}

div.feedback_success {
	background: #dfd url(/images/web_application/gif_32x32/32x32_tick.gif) no-repeat 5px 2px;
	border: 1px solid #090;
}

div.feedback_warning {
	background: #F8FFBD url(/images/web_application/gif_32x32/32x32_excl.gif) no-repeat 5px 5px;
	border: 1px solid #cc6;
}


div.feedback p.title { font-weight: bold; }

ul.feedback_bullets li { line-height: 1.2em; }



/* Other Style Tweaks */



p.intro { margin-bottom: 1em; color:#666; }

div.warning ,
p.warning {
	margin: 1em 10% 1em 10%;
	padding: 1em;

	background-color: #f8ffbd;
	border: 1px solid #cc6;
	border-radius: 0.875em;
	color: #000;
	font-size: 0.8215em;
	line-height: 1.1em;
}


input[type="submit"] { margin-top: 1em; }
input[type="submit"] + input[type="submit"] { margin-left: 6em; }



a span.count { padding-left: 0.5em; color: #77f; font-size: 0.875em; } 



/* Item Styles */


.admin_link { padding: 0.2em 0.4em; background-color: #ee9; border: 1px dotted #996; }



/* Item Styles */


.item_list { }
.item_list .item { color:#666;margin-bottom: 1em; padding: 0.4em; border: 1px solid #BBDCD7; background-color:#Efefef; }

.item_list .item table {width:100%;}

.item_list .item table td {vertical-align:top;padding-left:1em;}
.item_list .item table td:first-child {width:1%;padding-left:0;}

.item_list .image { -moz-box-shadow:inset 0 0 10px #666;-webkit-box-shadow:inset 0 0 10px #666;box-shadow:inset 0 0 10px #666;min-height: 80px; padding:0.5em; text-align: center; }

.item_list .name { font-size: 1.1em; font-weight: bold; }

.item_list .name a {color:#000;}

.item_list .maininfo { margin-bottom:1.5em; color:#000;font-family:verdana;border-top:2px solid #FFF;}

.item_list .extrainfo { clear: both; color:#666;}

.item_list .item  span.label {  width: 100px; margin-top: 0; text-align: right; }

.item_list .morelink { text-align: right; font-weight:bold;font-size:0.85em;}



.item_full { }
.item_full .item p , .item_full .item li {font-family:verdana;font-size:0.9em;}

.item_full .item {border:1px solid #BBDCD7;padding:1em 2em;background-color:#EFEFEF;}
.item_full .item .editlink {font-size:1.3em;font-weight:bold;}
.item_full .item .editlink  a {padding:0.3em 1em;}

.item_full .item .description {border-top:2px solid #FFF;}

.item_full .item h1 {color:#000;margin-bottom:1em;}

.item_full h2 { margin-top: 3em; color:#000;border-top:2px solid #CCC;padding-top:1em;}

.item_full .image { padding:0;background-color:#FFF;min-width: 150px; min-height: 150px; border: 1px solid #999; text-align: center; }


.item_full .item div.label { background-color:#8DA39B;color: #FFF;padding: 0.4em; }

.item_full .item .boxed {border:none;}
.item_full .item .boxed .detail {padding:0.5em 0;margin:0;font-weight:bold;}

.item_full .item .boxed .label {background-color:#999;font-style:normal;}

.item_full .specification .detail { font-family:verdana; padding-top:0.5em;}
.item_full .technique .detail { font-family:verdana; padding-top:0.5em;}


.item_full div.detail { margin-left: 1em; }

.item_full div.detail h3 {font-weight:bold;border-bottom:1px dotted #8DA39B;}
.item_full div.detail h4 {color:#666;padding:0.5em 0;font-size:1.3em;font-style:italic;font-weight:bold;}

.item_full div.copyright_notice { margin-top: 2em; font-size: 0.9em; }

.item_full div.additional_files { margin-left: 1.5em; }

.item_full table.basics { margin-bottom: 1em; }
.item_full table.basics th { padding-right: 1em; }



/*
 * Development Information Styles
 */


.dev_todo {
	margin: 1em 0 1em 0;
	padding: 0.3em 0.7em 0.3em 0.7em;

	border-radius: 0.875em;
	-moz-border-radius: 0.875em;
	-webkit-border-radius: 0.875em;

	background-color: #ddf;
	border: 1px solid #009;
	color: #000;
	font-size: 0.9em;
	line-height: 1.1em;
}

.dev_todo ul { font-size: 0.9em; }
